{% extends '../temel.html' %}
{% block baslik %}Gönderilerin Listesi{% endblock baslik %}

{% block baslikcont %}İçerikler Listeleniyor{% endblock baslikcont %}

{% block icerik %}
<a href={% url 'anasayfa' %}>Ana Sayfa</a><br>
<a href={% url 'yenigonderi' %}>Yeni Gönderi</a><br>

{% for gonderi in gonderis %}
<section id="one">
    <div class="inner">
        <header class="major">
            <a href="{% url 'gonderidetay' pk=gonderi.pk %}">
                <h2>{{gonderi.baslik}}</h2>
            </a>
            <p>{{gonderi.yazi}}</p>

    </div>
</section>
{% endfor %}





{% endblock icerik %}